{
  "log": {
    "_recordingName": "fetchDeviceUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "36cf49d934988cdad4caf1dc549c38b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/accounts?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 428,
            "text": "{\"accounts\":{\"users\":[{\"id\":1,\"name\":\"adam.williams\"},{\"id\":9,\"name\":\"austin.kelleher\"},{\"id\":3,\"name\":\"erkang.zheng\"},{\"id\":7,\"name\":\"isaacwilliams\"},{\"id\":8,\"name\":\"jupiterone.dev\"}],\"groups\":[{\"id\":1,\"name\":\"Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":2,\"name\":\"Another Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":3,\"name\":\"Not all groups have members inside in api\",\"site\":{\"id\":1,\"name\":\"Test site\"}}]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      },
      {
        "_id": "9e45db20852f9f62f9953392f9298db3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "na[...]
