{
  "log": {
    "_recordingName": "fetchMacOsConfigurationDetails",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "36cf49d934988cdad4caf1dc549c38b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/accounts?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 428,
            "text": "{\"accounts\":{\"users\":[{\"id\":1,\"name\":\"adam.williams\"},{\"id\":9,\"name\":\"austin.kelleher\"},{\"id\":3,\"name\":\"erkang.zheng\"},{\"id\":7,\"name\":\"isaacwilliams\"},{\"id\":8,\"name\":\"jupiterone.dev\"}],\"groups\":[{\"id\":1,\"name\":\"Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":2,\"name\":\"Another Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":3,\"name\":\"Not all groups have members inside in api\",\"site\":{\"id\":1,\"name\":\"Test site\"}}]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 280,
      },
      {
        "_id": "09da41d41eb108069b2ac1989321bb25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/osxconfigurationprofiles?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 109,
            "text": "{\"os_x_configuration_profiles\":[{\"id\":1,\"name\":\"Test Profile\"},{\"id\":2,\"name\":\"Isaac's Test Configuration\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "ba15053553800e535f521ade57de4449",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/osxconfigurationprofiles/id/1?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 1846,
            "text": "{\"os_x_configuration_profile\":{\"general\":{\"id\":1,\"name\":\"Test Profile\",\"description\":\"Some Description Data\",\"site\":{\"id\":1,\"name\":\"Test site\"},\"category\":{\"id\":-1,\"name\":\"No category assigned\"},\"distribution_method\":\"Make Available in Self Service\",\"user_removable\":true,\"level\":\"System\",\"uuid\":\"8E13F1AD-6C20-4836-8A24-8B3583955D85\",\"redeploy_on_update\":\"Newly Assigned\",\"payloads\":\"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?><!DOCTYPE plist PUBLIC \\\"-//Apple//DTD PLIST 1.0//EN\\\" \\\"http://www.apple.com/DTDs/PropertyList-1.0.dtd\\\">\\n<plist version=\\\"1\\\"><dict><key>PayloadUUID</key><string>8E13F1AD-6C20-4836-8A24-8B3583955D85</string><key>PayloadType</key><string>Configuration</string><key>PayloadOrganization</key><string>JupiterOne</string><key>PayloadIdentifier</key><string>8E13F1AD-6C20-4836-8A24-8B3583955D85</string><key>PayloadDisplayName</key><string>Test Profile</string><key>PayloadDescription</key><string/><key>PayloadVersion</key><integer>1</integer><key>PayloadEnabled</key><true/><key>PayloadRemovalDisallowed</key><true/><key>PayloadScope</key><string>System</string><key>PayloadContent</key><array/></dict></plist>\"},\"scope\":{\"all_computers\":false,\"all_jss_users\":false,\"computers\":[],\"buildings\":[],\"departments\":[],\"computer_groups\":[],\"jss_users\":[],\"jss_user_groups\":{},\"limitations\":{\"users\":[],\"user_groups\":[],\"network_segments\":[],\"ibeacons\":[]},\"exclusions\":{\"computers\":[],\"buildings\":[],\"departments\":[],\"computer_groups\":[],\"users\":[],\"user_groups\":[],\"network_segments\":[],\"ibeacons\":[],\"jss_users\":[],\"jss_user_groups\":[]}},\"self_service\":{\"self_service_display_name\":\"Test Profile\",\"install_button_text\":\"Install\",\"self_service_description\":\"\",\"force_users_to_view_description\":false,\"security\":{\"removal_disallowed\":\"Never\"},\"self_service_icon\":{},\"feature_on_main_page\":false,\"self_service_categories\":[]}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      },
      {
        "_id": "ea4fc281249d38e9cb3463f796d9d2e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "appli[...]
