{
  "log": {
    "_recordingName": "fetchMacOsConfigurationDetails",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
<<<<<<< HEAD
        "_id": "4f0e505db41b492155ff6d75affa0642",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://jupiteronedev.jamfcloud.com/api/v1/auth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 392,
            "text": "{\"token\":\"[REDACTED]\",\"expires\":\"2099-01-19T18:37:41.561Z\"}"
          },
            {
              "expires": "2023-01-26T18:07:41.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "JSESSIONID",
              "path": "/",
              "sameSite": "Lax",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "APBALANCEID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 429,
      },
      {
        "_id": "e0cc2e06750b002c84a3dde729e7f689",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jup[...]
