{
  "log": {
    "_recordingName": "fetchGroups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
<<<<<<< HEAD
        "_id": "4f0e505db41b492155ff6d75affa0642",
=======
        "_id": "25958b0444ec2a193681bde268b4670d",
>>>>>>> Ingest local accounts
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
<<<<<<< HEAD
          "method": "POST",
          "queryString": [],
          "url": "https://jupiteronedev.jamfcloud.com/api/v1/auth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 392,
            "text": "{\"token\":\"[REDACTED]\",\"expires\":\"2099-01-19T18:37:41.557Z\"}"
          },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 692,
            "text": "{\"accounts\":{\"users\":[{\"id\":12,\"name\":\"adam.pierson\"},{\"id\":1,\"name\":\"adam.williams\"},{\"id\":9,\"name\":\"austin.kelleher\"},{\"id\":13,\"name\":\"chasen.bettinger\"},{\"id\":3,\"name\":\"erkang.zheng\"},{\"id\":7,\"name\":\"isaacwilliams\"},{\"id\":8,\"name\":\"jupiterone.dev\"},{\"id\":14,\"name\":\"max.daum\"},{\"id\":17,\"name\":\"my.new.account\"},{\"id\":10,\"name\":\"nick.dowmon\"},{\"id\":15,\"name\":\"samuel.poulton\"},{\"id\":11,\"name\":\"stefan.virag\"},{\"id\":16,\"name\":\"Wrong_Permissions\"}],\"groups\":[{\"id\":1,\"name\":\"Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":2,\"name\":\"Another Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":3,\"name\":\"Not all groups have members inside in api\",\"site\":{\"id\":1,\"name\":\"Test site\"}}]}}"
          },
            {
<<<<<<< HEAD
              "expires": "2023-01-26T18:07:41.000Z",
=======
              "expires": "2022-12-13T18:38:06.000Z",
>>>>>>> Ingest local accounts
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
<<<<<<< HEAD
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "JSESSIONID",
              "path": "/",
              "sameSite": "Lax",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
=======
>>>>>>> Ingest local accounts
              "httpOnly": true,
              "name": "APBALANCEID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
<<<<<<< HEAD
              "value": "Thu, 19 Jan 2023 1[...]
