{
  "log": {
    "_recordingName": "fetchAdminUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "36cf49d934988cdad4caf1dc549c38b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/accounts?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 428,
            "text": "{\"accounts\":{\"users\":[{\"id\":1,\"name\":\"adam.williams\"},{\"id\":9,\"name\":\"austin.kelleher\"},{\"id\":3,\"name\":\"erkang.zheng\"},{\"id\":7,\"name\":\"isaacwilliams\"},{\"id\":8,\"name\":\"jupiterone.dev\"}],\"groups\":[{\"id\":1,\"name\":\"Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":2,\"name\":\"Another Test Group\",\"site\":{\"id\":1,\"name\":\"Test site\"}},{\"id\":3,\"name\":\"Not all groups have members inside in api\",\"site\":{\"id\":1,\"name\":\"Test site\"}}]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "7dba3ca4e774b875cff5028ee7637515",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "failover",
              "value": null
            }
          ],
          "url": "https://jupiteronedev.jamfcloud.com/JSSResource/accounts/userid/1?failover"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 15521,
            "text": "{\"account\":{\"id\":1,\"name\":\"adam.williams\",\"directory_user\":false,\"full_name\":\"\",\"email\":\"adam.williams@jupiterone.com\",\"email_address\":\"adam.williams@jupiterone.com\",\"enabled\":\"Enabled\",\"force_password_change\":false,\"access_level\":\"Full Access\",\"privilege_set\":\"Administrator\",\"privileges\":{\"jss_objects\":[\"Create Keystore\",\"Read Keystores\",\"Update Keystores\",\"Delete Keystores\",\"Create Computers\",\"Read Computers\",\"Update Computers\",\"Delete Computers\",\"Create Policies\",\"Read Policies\",\"Update Policies\",\"Delete Policies\",\"Create Packages\",\"Read Packages\",\"Update Packages\",\"Delete Packages\",\"Create Network Segments\",\"Read Network Segments\",\"Update Network Segments\",\"Delete Network Segments\",\"Create Mac Applications\",\"Read Mac Applications\",\"Update Mac App[...]
